<h2>Garments System</h2>

<h3>Add Female</h3>
<form action="/female_entry" method="POST">
    <input type="text" name="school_id" placeholder="School ID">
    <select name="blouse"><option>S</option><option>M</option></select>
    <select name="slacks"><option>28</option><option>30</option></select>
    <select name="skirt"><option>24</option><option>26</option></select>
    <select name="shirt"><option>S</option><option>M</option></select>
    <select name="jp"><option>S</option><option>M</option></select>
    <button type="submit">Submit</button>
</form>

<h3>Add Male</h3>
<form action="/male_entry" method="POST">
    <input type="text" name="school_id">
    <select name="polo"><option>S</option><option>M</option></select>
    <select name="slacks"><option>28</option><option>30</option></select>
    <select name="shirt"><option>S</option><option>M</option></select>
    <select name="jp"><option>S</option><option>M</option></select>
    <button type="submit">Submit</button>
</form>

<a href="/waiting">View Waiting Queue</a><br>
<a href="/stock">View Stock</a>
